.nav {
  width: 100vw;
  border-width: 2px 0;
  border-style: solid;
  min-height: 2.5rem;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    .delayed {
      flex: 1;
    }

    .nav-item {
      flex: 1;
      padding: 0.75em;
      box-sizing: border-box;
      margin: 0;
      height: 100%;

      &.active {
        background-color: $main-orange;
        color: $main-background;
        border-color: $main-orange;
      }
    }
  }
}
