.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .delayed-render {
    .card {
      flex: 1;
      border: 1px solid;
      border-radius: 8px;
      padding: 1rem;
    }

    .placeholder {
      border-radius: 8px;
      background-color: $light-grey;
    }
  }
}
