.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .delayed-render {
    &.flex-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      min-width: 10rem;
      min-height: 10rem;
      margin: 0.5rem;

      .card {
        flex: 1;
        border: 1px solid;
        border-radius: 8px;
        padding: 1rem;
      }

      .placeholder {
        border-radius: 8px;
        background-color: $light-grey;
      }
    }
  }
}
